# build-v2.9-cpu-only
--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pydantic
opencv-python
mediapipe
requests
python-docx
torch
torchvision
ultralytics
python-dotenv
fpdf2
python-multipart
